@font-face {
  font-family: Yekan;
  src: url("../fonts/Yekan.ttf");
}

body {
  font-family: Yekan;
  background: linear-gradient(135deg, #f9f9fb 0%, #e3e3e8 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 100vh;
  direction: rtl;
  flex-wrap: wrap;
}

/* لودینگ */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4caf50;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* بلور صفحه اصلی */
body.loading {
  overflow: hidden;
}

body.loading .container {
  filter: blur(1px);
}

.container {
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease;
  margin: 20px 0;
}

#formContainer {
  position: sticky;
  top: 10px;
  max-height: 600px;
  flex: 0 0 20%;
}

#reportContainer {
  flex: 0 0 60%;
}

h1 {
  color: #333;
}

.report_select {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

form {
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group input[type="text"],
.form-group select {
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: Yekan;
  transition: 0.5s;
  outline: none;
}

.form-group input[type="text"]:focus,
.form-group select:focus {
  border: 1px solid #4caf50;
}

.form-group select {
  text-align: center;
  cursor: pointer;
}

.form-group label {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #666;
  padding: 0 5px;
  transition: 0.5s;
  pointer-events: none;
}

.form-group input[type="text"]:focus + label,
.form-group input[type="text"]:not(:placeholder-shown) + label,
.form-group select:focus + label,
.form-group select:not([value=""]) + label {
  top: -14px;
  right: 0;
  font-size: 1em;
  color: #333;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
}

input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: center;
  color: #555;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Yekan;
}

button:hover {
  background-color: #45a049;
}

.report-tables-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.report-table {
  width: 45%;
  margin: 10px;
}

.total-tasks-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

p.total-tasks,
p.total-time-spent {
  font-size: 1.2em;
  color: #4caf50;
  font-weight: bold;
}

.input-form-container {
  width: 40%;
}
.input-form-container button {
  font-size: 0.7rem;
  padding: 0.7rem;
}
/* ریسپانسیو برای اندازه‌های مختلف */
@media (max-width: 1360px) {
  #formContainer {
    flex: 0 0 30%;
    max-height: none;
  }
}
@media (max-width: 1200px) {
  .container {
    flex: 0 0 90%;
  }

  #formContainer,
  #reportContainer {
    flex: 0 0 80%;
    max-height: none;
  }

  .report-tables-container {
    flex-direction: column;
  }

  .report-table {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .report-tables-container {
    flex-direction: column;
  }

  .report-table {
    width: 100%;
  }

  .form-group {
    margin-bottom: 30px;
  }
  .input-form-container {
    width: 100%;
  }
  .input-form-container button {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  button {
    padding: 8px 16px;
    font-size: 0.7em;
  }

  .form-group label {
    font-size: 0.8em;
  }

  .form-group input[type="text"],
  .form-group select {
    font-size: 0.9em;
  }

  table,
  th,
  td {
    font-size: 0.8em;
    padding: 8px;
  }
  .total-tasks-container .total-tasks,
  .total-tasks-container .total-time-spent {
    font-size: 1rem;
  }
}
